/* GERAL */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100vw
}
.pagina {
  display: grid;
}
html {
  margin: 0;
}

/* ENDEREÇO */

#local {
  display: grid;
  grid-template-columns: auto auto;
  justify-self: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-top: 5vh;
}

#local img {
  width: 35vw;
  border-radius: 20px 0 0 20px;
}

#local #img {
  grid-row-start: 1;
  grid-row-end: 4;
}

#local #map {
  padding: 15px 20px 0 20px;
}

iframe {
  border-radius: 20px;
  width: 30vw;
  height: 25vh;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#local #title {
  justify-self: center;
  height: 5vh;
  text-align: center;
}

#local #place {
  justify-self: center;
  align-self: start
}

/* TEXTO */

#texto {
  background-color: #D9D9D9;
  text-align: center;
  justify-self: center;
  margin-top: 7vh;
  padding: 5vw;
  line-height: 5vh;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#ass {
  text-align: end;
}

/* CONFIRMAR PRESENÇA */

#presenca {
  justify-self: center;
  margin-top: 5vh;
  border-top: 3px solid black;
  padding: 5vh 10vw 0 10vw;
}

#presenca img {
  width: 30vw;
  border-radius: 20px;
  grid-column-start: 1; 
  margin-bottom: 20px;
}
#presenca iframe {
  height: 100vh;
}

/* PIX */

#copy img {
  width: 6vw;
}

#QR img {
  width: 20vw;
  border-radius: 20px;
  margin-left: 10%;
}

#pix {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 30% auto auto;
  justify-self: center;
  background-color: #49B1AB;
  padding: 4vh 4vw;
  border-radius: 20px;
  margin-top: 7vh;
}

#QR {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

#pix #title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 20px;
  justify-self: center;
  text-align: center;
}

#pix #text {
  grid-column-start: 1;
  grid-column-end: 3;
}

#pix p {
  text-align: center;
  font-size: 18px;
}

#pix #chave {
  font-size: 20px;
  text-align: center;
  justify-self: end;
}

#copy button {
  background-color: #49B1AB;
  border: none;
  cursor: pointer;
}


/* FOOTER */
#footer {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #D9D9D9;
  padding: 20px;
  margin-top: 10vh;
  margin-left: 0;
}

#git img {
  width: 3vw;
}

#git {
  justify-self: end;
  text-align: center;
}

/*MOBILE*/
@media(max-width: 480px) {
  .desktop {
    display: none;
  }

  #copy img {
    width: 10vw;
  }

  #presenca {
    display: block;
    padding: 0;
  }

  form {
    display: block;
  }

  #presenca #text p {
    margin-top: 2vh;
  }

  #local {
    padding: none;
    display: block;
  }

  #texto p {
    padding: 0;
  }
  #footer {
    padding: 0;
    display: block;
  }
  #form iframe {
    width: 100vw;
    height: 115vh;
  }
  #map iframe {
    width: 80vw;
  }
  #presenca img {
    width: 100vw;
  }
  #local img {
    border-radius: 20px 20px 0 0;
    width: 98vw;
  }
  #local #place {
    margin-bottom: 20px;
  }
  #footer #contact {
    margin-top: 20px;
  }
  #footer img {
    width: 20vw;
  }
  #local #place {
    align-self: center;
    text-align: center;
  }
}
